<div class="headline">À propos de Balrek</div>

<mat-card>
    <mat-card-header>
        <mat-card-title>Balrek</mat-card-title>
        <mat-card-subtitle>Lecture et création de QR Code</mat-card-subtitle>
    </mat-card-header>

    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <fa-icon [icon]="faArchive" class="icon"></fa-icon>
                v{{appVersion}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <fa-icon [icon]="faUser" class="icon"></fa-icon>

                <a href="https://github.com/malbaladejo" target="_blank">malbaladejo</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <fa-icon [icon]="faGithub" class="icon"></fa-icon>

                <a href="https://github.com/malbaladejo/malNgQRCode" target="_blank">Source</a>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>