<mat-card>
    <mat-card-header>
        <mat-card-title>À propos de QR Code & Codebar</mat-card-title>
        <mat-card-subtitle>Lecture et création de QR Code & Codebar</mat-card-subtitle>
    </mat-card-header>

    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <fa-icon [icon]="fontAwesome.faArchive" class="icon"></fa-icon>
                v{{appVersion}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <fa-icon [icon]="fontAwesome.faUser" class="icon"></fa-icon>

                <a href="https://github.com/malbaladejo" target="_blank">malbaladejo</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <fa-icon [icon]="fontAwesome.faGithub" class="icon"></fa-icon>

                <a href="https://github.com/malbaladejo/malNgQRCode" target="_blank">Source</a>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>