.container{
    padding: 10px;
}

.sidenav-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

.icon {
    font-size: 20px;
    margin:0 20px 0 0;
}