<mat-card *ngIf="code">
    <mat-card-header>
        <mat-card-title>
            <app-code-icon [code]="code"></app-code-icon> {{code.type | codeTypeLabel}}
        </mat-card-title>
        <mat-card-subtitle> <span *ngIf='isScanned()'>
                Scanné le :
            </span>

            <span *ngIf='isGenerated()'>
                Généré le :
            </span>
            <span>{{code.date|date:'medium'}}</span>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-divider></mat-divider>
    <mat-card-content>

        <mat-nav-list>
            <!-- date -->
            <mat-list-item>
                <span *ngIf='isScanned()'>
                    Scanné le :
                </span>

                <span *ngIf='isGenerated()'>
                    Généré le :
                </span>
                <span>{{code.date|date:'medium'}}</span>
            </mat-list-item>
            <mat-divider></mat-divider>

            <!-- qrcode values-->
            <mat-list-item *ngIf="code" class="height-auto">
                <!-- keyValue -->
                <table *ngIf="formattedCode.type===keyValue" mat-table [dataSource]="keyValueCode.keyValues"
                    class="mat-elevation-z8">
                    <ng-container matColumnDef="key">
                        <th mat-header-cell *matHeaderCellDef>Code</th>
                        <td mat-cell *matCellDef="let element"> {{element.key}} </td>
                    </ng-container>

                    <ng-container matColumnDef="value">
                        <th mat-header-cell *matHeaderCellDef>Valeur</th>
                        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <!-- url -->
                <a *ngIf="formattedCode.type===url" target="_blank" [href]="formattedCode.code">
                    {{formattedCode.code}}
                </a>

                <!-- email -->
                <a *ngIf="formattedCode.type===email" target="_blank" [href]="'mailto:'+formattedCode.code">
                    {{formattedCode.code}}
                </a>

                <span *ngIf="formattedCode.type===raw">
                    {{code.code}}
                </span>
            </mat-list-item>
            <mat-divider></mat-divider>

            <!-- Error message -->
            <mat-list-item *ngIf="errorMessage">
                {{errorMessage}}
            </mat-list-item>
            <mat-divider *ngIf="errorMessage"></mat-divider>

            <mat-list-item *ngIf="code" class="height-auto">
                <qrcode *ngIf="code" [qrdata]="code.code" [size]="256" [level]="'M'"></qrcode>
            </mat-list-item>
            <mat-divider *ngIf="code"></mat-divider>
        </mat-nav-list>
    </mat-card-content>

    <div class="actions">
        <button mat-fab color="primary" (click)="delete()">
            <fa-icon [icon]="faTrash"></fa-icon>
        </button>
    </div>
</mat-card>