<div *ngIf="code">
    <span *ngIf='isScanned()'>
        Scanné le :
    </span>

    <span *ngIf='isGenerated()'>
        Généré le :
    </span>
    <span>{{code.date|date:'medium'}}</span>
</div>

<div *ngIf="code">
    <ul>
        <li *ngFor="let item of keyValueMessages">
            {{item.key}}: {{item.value}}
        </li>
    </ul>
    Mssage brut:
    {{code.code}}
</div>

<div *ngIf="errorMessage">
    {{errorMessage}}
</div>

<qrcode *ngIf="code" [qrdata]="code.code" [size]="256" [level]="'M'"></qrcode>
<button *ngIf="code" (click)="delete()">supprimé</button>