<div class="container">
    <mat-card>
        <mat-nav-list *ngIf="navigationMode">
            <mat-list-item *ngFor="let code of codes" [navigate]="detailToken(code)">
                <app-code [code]="code"></app-code>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-nav-list>

        <mat-selection-list *ngIf="!navigationMode" #items>
            <mat-list-option *ngFor="let code of codes" (click)="onSelectedItemsChanged(items)" [value]="code"
                [selected]="isSelected(code)">
                <app-code [code]="code"></app-code>
                <mat-divider></mat-divider>
            </mat-list-option>
        </mat-selection-list>
    </mat-card>
</div>

<div class="actions">
    <div *ngIf="navigationMode">
        <button mat-fab color="primary" (click)="activeEditMode()">
            <fa-icon [icon]="fontAwesome.faPencilAlt"></fa-icon>
        </button>

        <button mat-fab color="primary" [navigate]='scanToken()'>
            <fa-icon [icon]="fontAwesome.faQrcode"></fa-icon>
        </button>
    </div>

    <div *ngIf="!navigationMode">
        <button mat-fab color="primary" (click)="activeNavigationMode()">
            <fa-icon [icon]="fontAwesome.faTimes"></fa-icon>
        </button>

        <button mat-fab color="primary" (click)="deleteSelectedItems()">
            <fa-icon [icon]="fontAwesome.faTrash"></fa-icon>
        </button>
    </div>
</div>